<h1>About us</h1>

	<p>We are a group of students learning Rails on Ruby!</p>
	<p>This is our first project so we hppe you will enjoy our work!</p>
	<p>Click here to <%=link_to "read about the team", "#", class: "btn btn-primary btn-lg" %></p>
