<h1>Meet Mariam!</h1>
<p>I am young professional with extensive experience in emergency response, donor relations, grants and program management, and advocacy.

My time working with Syria Relief and Development (SRD) and the Syrian American Medical Society (SAMS) has exposed me to all aspects of humanitarian response and has allowed me to gain HQ- and field-level expertise in grants management, advocacy, humanitarian coordination, and program development. As Country Director at SRD, I have honed my personnel and financial management skills and ability to build strong relationships with donors, government officials, and other stakeholders. 

I speak English, Arabic, French, and Italian and have experience working in the United States, Jordan, Lebanon, and Canada.</p>
